export HOTOKU_PLIST_DESTPATH=~/Library/LaunchAgents
export HOTOKU_PLIST_DOCKER=/usr/local/bin/docker



export HOTOKU_PLIST_JUPYTERLAB_WORKDIR=~/samples/ipynotebook
export HOTOKU_PLIST_JUPYTERLAB_LOGOUT=$(pwd)/log/jupyterlab/out.txt
export HOTOKU_PLIST_JUPYTERLAB_LOGERR=$(pwd)/log/jupyterlab/err.txt
export HOTOKU_PLIST_JUPYTERLAB_PORT=9002
export HOTOKU_PLIST_JUPYTERLAB_MAIN=$(pwd)/jupyterlab/run
export HOTOKU_PLIST_JUPYTERLAB_EXE=/Users/hotoku/anaconda3/bin/jupyter

export HOTOKU_PLIST_RSTUDIO_IMAGE_NAME=hotoku/r
export HOTOKU_PLIST_RSTUDIO_CONTAINER_NAME=plist-rstudio
export HOTOKU_PLIST_RSTUDIO_WORKDIR=~/samples/r
export HOTOKU_PLIST_RSTUDIO_LOGOUT=$(pwd)/log/rstudio/out.txt
export HOTOKU_PLIST_RSTUDIO_LOGERR=$(pwd)/log/rstudio/err.txt
export HOTOKU_PLIST_RSTUDIO_PORT=9001
export HOTOKU_PLIST_RSTUDIO_PASSWORD=hotoku
