<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>info.hotoku.plist-jupyterlab</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{HOTOKU_PLIST_DOCKER}}</string>
    <string>run</string>
    <string>--rm</string>
    <string>-p</string>
    <string>{{HOTOKU_PLIST_JUPYTERLAB_PORT}}:8888</string>
    <string>-v</string>
    <string>{{HOTOKU_PLIST_JUPYTERLAB_WORKDIR}}:/root/work</string>
    <string>--name</string>
    <string>{{HOTOKU_PLIST_JUPYTERLAB_CONTAINER_NAME}}</string>
    <string>{{HOTOKU_PLIST_JUPYTERLAB_IMAGE_NAME}}</string>
    <string>bash</string>
    <string>-lc</string>
    <string>/usr/local/bin/run-lab</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>{{HOTOKU_PLIST_JUPYTERLAB_LOGERR}}</string>
  <key>StandardOutPath</key>
  <string>{{HOTOKU_PLIST_JUPYTERLAB_LOGOUT}}</string>
</dict>
</plist>
